/* Signup Page CSS */

.signup-container {
    background-color: var(--bg-body);
    /* Use theme var */
    /* min-height: 100vh; REMOVED */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.signup-card {
    border: none;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    overflow: hidden;
    max-width: 900px;
    width: 100%;
}

.signup-title {
    color: #1e40af;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.signup-input {
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #e2e8f0;
}

.signup-input:focus {
    outline: none;
    border-color: #1e40af;
    box-shadow: 0 0 0 3px rgba(30, 64, 175, 0.1);
}

.password-toggle-btn {
    border-color: #e2e8f0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.password-toggle-btn:hover {
    background-color: #f8f9fa;
    border-color: #cbd5e1;
}

.signup-btn {
    background-color: #1e40af;
    border-color: #1e40af;
    padding: 0.75rem;
    font-weight: bold;
    width: 100%;
    margin-bottom: 0.5rem;
}

.signup-btn:hover {
    background-color: #1e3a8a;
    border-color: #1e3a8a;
}

.login-link {
    color: #3b82f6;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}

.signup-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}