/* GLOBAL */
body {
    background: #0f0c29;
}

/* HERO */
.hero-section {
    min-height: 100vh;
    background: radial-gradient(circle at right,
            #fbc2eb,
            #a18cd1,
            #1f1c2c);
    display: flex;
    align-items: center;
    color: white;
}

.hero-content h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

.hero-content span {
    color: #ffb703;
}

.hero-content p {
    max-width: 600px;
    opacity: 0.9;
    margin-top: 15px;
}

.hero-buttons {
    margin-top: 30px;
}

.primary-btn {
    background: linear-gradient(135deg, #ffb703, #fb8500);
    color: #000;
    margin-right: 15px;
}

.secondary-btn {
    border: 1px solid white;
    color: white;
}

/* SECTIONS */
section {
    padding: 80px 0;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    color: white;
}

/* CARDS */
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.info-card,
.feature-card,
.price-card {
    background: linear-gradient(145deg, #1f1c2c, #302b63);
    padding: 30px;
    border-radius: 18px;
    color: white;
    transition: transform 0.3s;
}

.info-card:hover,
.feature-card:hover,
.price-card:hover {
    transform: translateY(-8px);
}

.feature-card {
    text-align: center;
    font-weight: 600;
}

/* PRICING */
.price-card p {
    font-size: 1.5rem;
    color: #ffb703;
}

.highlight {
    background: linear-gradient(145deg, #ff512f, #dd2476);
}

/* SUBSCRIBE */
.subscribe-section {
    background: linear-gradient(135deg, #141e30, #243b55);
    text-align: center;
}

.subscribe-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.subscribe-box input {
    padding: 12px;
    width: 280px;
    border-radius: 30px 0 0 30px;
    border: none;
}

.subscribe-box button {
    padding: 12px 25px;
    border-radius: 0 30px 30px 0;
    background: #ffb703;
    border: none;
    font-weight: 600;
}

/* FOOTER */
.footer {
    background: #0b0a1f;
    text-align: center;
    padding: 20px;
    color: #aaa;
}