@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  transition: opacity 1s ease;
}

body.fade-out {
  opacity: 0;
}

.welcome-page {
  height: 100vh;
  width: 100%;
  background:
    linear-gradient(to right, rgba(65, 103, 147, 0.7), rgba(96, 103, 114, 0.7)),
    url("/welcom-bg1.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}

.img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  animation: scaleUp 2s ease-in-out;
}

.white-text {
  color: white;
}

h1 {
  font-size: 42px;
  margin-top: 20px;
}

h2 {
  margin-top: 10px;
  font-weight: 400;
}

/* sparkles */
.seasoning {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #fafdf9;
  border-radius: 50%;
  bottom: -10px;
  animation: floatUp 5s infinite ease-in-out;
}

.seasoning:nth-child(2) {
  left: 20%;
  animation-delay: 0s;
}

.seasoning:nth-child(3) {
  left: 40%;
  animation-delay: 1s;
}

.seasoning:nth-child(4) {
  left: 60%;
  animation-delay: 2s;
}

.seasoning:nth-child(5) {
  left: 80%;
  animation-delay: 3s;
}

.seasoning:nth-child(6) {
  left: 50%;
  animation-delay: 4s;
}

/* animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes floatUp {
  from {
    bottom: -10px;
    opacity: 0;
  }

  to {
    bottom: 100vh;
    opacity: 1;
  }
}