.login-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.login-left {
  width: 50%;
  padding: 60px;
}

.login-left h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-left form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-left input {
  padding: 12px;
  width: 80%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btn {
  width: 80%;
  margin: auto;
  padding: 12px;
  background-color: #3f72ca;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background-color: #2c5bb5;
}

.redirect-text {
  margin-top: 20px;
  text-align: center;
}

.redirect-text a {
  color: #3f72ca;
  text-decoration: none;
}

.login-right {
  width: 50%;
}

.login-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
